<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LAN Speed Test</title>
</head>
<body>

<label for="amount">Megabytes</label>
<input id="amount" type="number" value="50" min="1" max="500" /><br/>
<button id="start">
    Go!
</button>

<p id="status">

</p>

<script type="application/javascript">
    document.getElementById("start").addEventListener("click", () => {
        const megabytes = parseInt(document.getElementById("amount").value);
        const status = document.getElementById("status");

        if (megabytes <= 0 || megabytes > 500) {
            alert("Enter a number between 1 and 500");
            return
        }

        status.innerText = "Running test...";

        const start = performance.now()
        fetch(
            '/speed-test/random?mb=' + megabytes,
        )
            .then(e => e.blob())
            .then(() => {
                const millisecondsElapsed = performance.now() - start;
                const secondsElapsed = millisecondsElapsed / 1000;
                const avgSpeed = megabytes / secondsElapsed * 8;
                status.innerText = `Done! Took ${secondsElapsed.toFixed(2)}s to download ${megabytes}MB (${megabytes * 8}Mbs). Average: ${avgSpeed.toFixed(3)}Mb/s`
            });
    })
</script>

</body>
</html>