<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LAN Speed Test</title>
</head>
<body>

<p>
    Runs a speed test between you and kProxy, using randomly generated data of a set amount of megabytes.
</p>

<p>
    Timing only starts after the first byte is delivered (i.e. final result excludes TTFB).
</p>

<label for="amount">Megabytes</label>
<input id="amount" type="number" value="50" min="1" max="500" /><br/>
<button id="start">
    Go!
</button>

<p id="status">

</p>

<script type="application/javascript">
    document.getElementById("start").addEventListener("click", () => {
        const megabytes = parseInt(document.getElementById("amount").value);
        const status = document.getElementById("status");

        if (megabytes <= 0 || megabytes > 500) {
            alert("Enter a number between 1 and 500");
            return
        }

        status.innerText = "Running test...";

        const start = performance.now()
        fetch(
            '/speed-test/random?mb=' + megabytes,
        )
            .then(e => e.blob())
            .then((e) => {
                const now = performance.now();

                const perfEntries = performance.getEntriesByType('resource');
                const entry = perfEntries[perfEntries.length - 1];
                const ttfb = entry.responseStart - entry.requestStart;

                console.log(e);

                const millisecondsElapsed = now - start - ttfb;
                const secondsElapsed = millisecondsElapsed / 1000;
                const avgSpeed = (megabytes * 8) / secondsElapsed;
                status.innerText = `Done! Took ${secondsElapsed.toFixed(2)}s to download ${megabytes} megabytes. Average: ${avgSpeed.toFixed(3)}Mb/s`
            });
    })
</script>

</body>
</html>